<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Главная</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/category/60d44256fd688a3e94892bdf/news">Sport</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/category/60d44263fd688a3e94892be1/news">Economic</a>
        </li><li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/category/60d4426bfd688a3e94892be3/news">Politic</a>
        </li>
      </ul>
    </div>
  </div>
</nav>